Source: respeaker-osconfig
Maintainer: Baozhu Zuo <zuobaozhu@gmail.com>
Section: misc
Priority: extra
Build-Depends: debhelper (>= 9),
		bluez,
		pulseaudio,
		alsa-utils
Standards-Version: 0.0.1

Package: respeaker-osconfig
Architecture: armhf
Depends: ${misc:Depends}, gnupg2 | gnupg
Description: respeaker debian os config files
 some os config files
