Source: respeaker-osconfig
Maintainer: Baozhu Zuo <zuobaozhu@gmail.com>
Section: misc
Priority: extra
Build-Depends: debhelper (>= 9)
Standards-Version: 0.0.1

Package: respeaker-osconfig
Architecture: armhf
Depends: ${misc:Depends}, gnupg2 | gnupg
Description: wifi/bt firmwares
 The archive project works for respeaker v2 wifi/bt firmwares
